.mobile_landscape #advIcon {
    left: 5% !important;
    top: -10px !important;
    width: 0;
}
.mobile_portrait #advIcon {
    bottom: -53% !important;
    left: -1%;
    width: 0;
}

.mobile_portrait #adv-image {
    height: 10% !important;
}

.tablet_landscape #advIcon {
    z-index: 999 !important;
    left: 8% !important;
    top: -10px !important;
    width: 0;
}